<header>
    <h1 data-translate="app_name">AbsolutWarehouse</h1>
    <nav>
        <button data-translate="menu_modify" onclick="menuCall('MODIFY', 'modify.html')">Modification</button>
        <button data-translate="menu_add" onclick="menuCall('ADD', 'add.html')">Ajout</button>
        <button data-translate="menu_delete" onclick="menuCall('DELETE', 'delete.html')">Suppression</button>
        <button data-translate="menu_search" onclick="menuCall('SEARCH', 'search.html')">Recherche</button>
        <button data-translate="menu_options" onclick="navigate('options.html')">Options</button>
    </nav>
</header>
